<%-include('templates/header')%>
<!-- Main -->
<section id="main" class="wrapper">
	<div class="inner">
		<div class="content">
			<h3>Form</h3>
			<form method="post" action="/register1" enctype="multipart/form-data">
				<div class="row gtr-uniform">
					<div class="col-6 col-12-xsmall">
						<input type="text" name="name" id="name" value="" placeholder="Name" />
					</div>
					<div class="col-6 col-12-xsmall">
						<input type="email" name="email" id="email" value="" placeholder="Email" />
					</div>
					<div class="col-6 col-12-xsmall">
						<input type="password" name="password" id="password" value="" placeholder="Password" />
					</div>
					<!-- Break -->
					<div class="col-12">
						<select name="category" id="category">
							<option value="">- Select a category -</option>
							<option value="alpha">Option alpha</option>
							<option value="beta">Option beta</option>
							<option value="gamma">Option gamma</option>
							<option value="delta">Option delta</option>
							<option value="epsilon">Option epsilon</option>
							<option value="zeta">Option zeta</option>
							<option value="eta">Option eta</option>
							<option value="theta">Option theta</option>
						</select>
					</div>
					<div class="col-12">
						<select name="country">
							<option value="">- Select a country -</option>
							<% if(country.length > 0) {
								for(var i = 0; i < country.length; i++){	%>
									<option value="<%- country[i].id  %>"><%- country[i].name %></option>
							<%  } }  %>
						</select>
					</div>
					
					<div class="col-12">
						<select name="state">
							<option value="">- Select a state -</option>
						</select>
					</div>


					<div class="col-12">
						<select name="city">
							<option value="">- Select a city -</option>
						</select>
					</div>

	
					<div class="col-12">
						<textarea name="description" id="textarea" placeholder="Alpha beta gamma delta" rows="6"></textarea>
					</div>
					<div class="col-12">
						<input type="file" name="file" id="file">
					</div>
					<!-- Break -->
					<div class="col-12">
						<ul class="actions">
							<li><input type="submit" value="Submit Form" class="primary" /></li>
							<li><input type="reset" value="Reset" /></li>
						</ul>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
<!-- Footer -->
		 <%-include('templates/footer')%>

		<!-- Scripts -->
		<%-include('templates/footerjs')%>

		<script type="text/javascript">
			$(document).ready(function(){
				$("select[name='country']").on('change',function(){
					var country = $(this).val();
					$.ajax({
						url:"/get/states/"+country,
						method:"GET",
						cache: true,
						success: function(response,responseText){
							if(response.length > 0){
								$('select[name=state]').find('option').remove().end();
								for(var i=0; i < response.length; i++){
									$('select[name=state]').append('<option value='+ response[i].id +'>  '+ response[i].name +'  </option>');
								}
								$('select[name=city]').find('option').remove().end().append('<option value="">- Select a city -</option>');
							}
						}
					});
				});

				$("select[name='state']").on('change',function(){
					var stateId = $(this).val();
					$.ajax({
						url:"/get/cities/"+stateId,
						method:"GET",
						cache: true,
						success: function(response,responseText){
							$('select[name=city]').find('option').remove().end();
							if(response.length > 0){
								for(var i=0; i < response.length; i++){
									$('select[name=city]').append('<option value='+ response[i].id +'>  '+ response[i].name +'  </option>');
								}
							}
						}
					});
				});
			});
		</script>

	</body>
</html>